<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/addEmp.css">
    <style>
        body {
            background-color: #008B8B;
        }
    </style>
</head>
<body>
<h1 align="center">Добавить сотрудника</h1>
<a href="{% url 'Orgs' %}">
    <p align="left">Back</p>
</a>
<a href="{% url 'index'%}">
    <p align="right">Log Out</p>
</a>
<form action="" method="post">
    <p align="left"><b>ID сотрудника</b><br>
        <input type="text" size="40" name="id">
    </p>
    <p align="left"><b>Должность</b><br>
        <input type="text" size="40" name="job">
    </p>
    <p align="left"><b>Дата рождения</b><br>
        <input type="text" size="40" name="birthday">
    </p>
    <p align="left"><b>логин</b><br>
        <input type="text" size="40" name="login">
    </p>
    <p align="left"><b>пароль</b><br>
        <input type="text" size="40" name="password">
    </p>
    <p align="left"><b>Фамилия</b><br>
        <input type="text" size="40" name="surname">
    </p>
    <p align="left"><b>Имя</b><br>
        <input type="text" size="40" name="name">
    </p>
    <p align="left"><b>Отчество</b><br>
        <input type="text" size="40" name="sec_name">
    </p>
    <p align="left"><b>id компании</b><br>
        <input type="text" size="40" name="idorg">
    </p>
    <p align="left">
        <input type="submit" value="Submit">
    </p>
</form>
</body>
</html>