<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/vacation.css">
    <style>
    body {
    background-color: #008B8B;
    }
  </style>
</head>
<body>
<h1 align="center">Отпуска</h1>
<a href="{% url 'Orgs' %}">
    <p align="left">Back</p>
</a>
<a href="{% url 'index' %}">
<p align="right">Log Out</p>
</a>
{% for i in Vacations %}
<p>Начало - {{i.start}}<br>Конец - {{i.end}}<br>Тип - {{i.type}}</p>
{% endfor %}
</body>
</html>